html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* 避免出现滚动条 */
}

/* 更改菜单颜色 */
.el-menu {
  --el-menu-bg-color: #383838 !important; /* 设置背景颜色 */
  --el-menu-text-color: #f3f3f3 !important; /* 设置文字颜色 */
  --el-menu-active-color: #75cafc !important; /* 设置激活项文字颜色 */
}


@keyframes leftBuiding {
  from {
    /* left: -1000px; */
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }

  to {
    /* left: 0; */
    transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rightBuiding {
  from {
    /* right: -1000px; */
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
  to {
    /* right: 0; */
    transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes imgsSettingTop {
  from {
    top: -400px;
  }
  to {
    top: 0;
  }
}

@keyframes navigationBottom {
  from {
    bottom: -1000px;
  }
  to {
    bottom: 0;
  }
}
/* 为 Prism.js 添加高优先级样式 */
/* pre[class*="language-"] {
  background-color: #f8f8f8 !important;
} */